* {
    box-sizing: border-box;
}

:root{
    --purple: #8c52fe;
    --green: #43a724;
    --black: #000000;
   
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--purple);
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    border: 3px solid var(--green);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in;
}

.carousel img {
    height: auto;
   
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: var(--green);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: var(--green);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: var(--purple);
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
    .carousel-container {
        max-width: 90%; 
    }
    .carousel img {
        height: auto;
        object-fit: cover;
    }
}

@media only screen and (max-width: 480px) {
    .carousel-btn {
        width: 30px; 
        height: 30px;
        font-size: 14px;
       
    }

    .dot {
        width: 8px; 
        height: 8px;
    }
}